@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
input {
  all: unset;
  color: rgb(51, 51, 51);
  padding-left: 4px;
}
input::placeholder {
  color: #dbdbdb;
}
button {
  all: unset;
}
a {
  text-decoration: none;
}
